<!DOCTYPE html>
<html lang="en">
<head>
  <title>CDC Color Picker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="{{ url_for('static', filename='iro.js') }}"></script>
  <script src="{{ url_for('static', filename='tailwind.js') }}"></script>

  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'custom-bg': '#242424'
          },
          keyframes: {
            fade_in: {
              '0%':   { opacity: 0 },
              '25%':   { opacity: 0 },
              '100%': { opacity: 1 },
            },
          },
          animation: {
            'fade-in': 'fade_in 2s ease-out',
          }
        }
      }
    }
  </script>
</head>

<body class="h-screen w-screen antialiased bg-custom-bg text-center grid grid-cols-2 justify-center items-center">
  <div class="w-full h-full flex justify-center items-center justify-self-end">
    <div class="w-80 h-80 relative">
      <div id="preview-1" class="absolute top-20 left-20 h-20 w-40 ring-4 ring-white ring-opacity-100 z-10"></div>
      <div id="preview-2" class="absolute top-[10.25rem] left-20 h-20 w-40 ring-4 ring-white ring-opacity-100 z-10"></div>
      <div id="preview-3" class="absolute top-0 left-0 h-40 w-80 ring-4 ring-white ring-opacity-100"></div>
      <div id="preview-4" class="absolute top-[10.25rem] left-0 h-40 w-80 ring-4 ring-white ring-opacity-100"></div>  
    </div>
  </div>

  <div class="w-96 flex justify-center items-center justify-self-start">
    <div id="start-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in">
      <button class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-800 disabled:text-gray-500"
              onclick="document.getElementById('start-wrapper').classList.add('hidden');document.getElementById('picker-one-wrapper').classList.remove('hidden');document.getElementById('button-one').disabled = true;document.getElementById('button-two').disabled = true;document.getElementById('button-three').disabled = true;document.getElementById('button-four').disabled = true;">
              <div class="-ml-1">⮕</div>
      </button>
    </div>
  
    <div id="picker-one-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in hidden">
      <div id="picker-one" class="mb-12">
      </div>
      <button disabled id="button-one" class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-700 disabled:text-gray-500"
              onclick="document.getElementById('picker-one-wrapper').classList.add('hidden');document.getElementById('picker-two-wrapper').classList.remove('hidden');">
              <div class="-ml-1">⮕</div>
      </button>
    </div>
  
    <div id="picker-two-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in hidden">
      <div id="picker-two" class="mb-12">
      </div>
      <button disabled id="button-two" class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-700 disabled:text-gray-500"
              onclick="document.getElementById('picker-two-wrapper').classList.add('hidden');document.getElementById('picker-three-wrapper').classList.remove('hidden');">
              <div class="-ml-1">⮕</div>
      </button>
    </div>
  
    <div id="picker-three-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in hidden">
      <div id="picker-three" class="mb-12">
      </div>
      <button disabled id="button-three" class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-700 disabled:text-gray-500"
              onclick="document.getElementById('picker-three-wrapper').classList.add('hidden');document.getElementById('picker-four-wrapper').classList.remove('hidden');">
              <div class="-ml-1">⮕</div>
      </button>
    </div>
  
    <div id="picker-four-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in hidden">
      <div id="picker-four" class="mb-12">
      </div>
      <button disabled id="button-four" class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-700 disabled:text-gray-500"
              onclick="setFinishScreen()">
              <div class="-ml-1">⮕</div>
      </button>
    </div>
  
    <div id="finish-wrapper" class="flex flex-col justify-center items-center w-full h-full animate-fade-in hidden">
      <button class="bg-gray-100 hover:bg-gray-300 duration-200 text-gray-800 font-bold py-4 px-8 text-5xl rounded-full h-24 w-24 disabled:bg-gray-700 disabled:text-gray-500"
              onclick="restart()">
              <div class="-ml-1">↺</div>
      </button>
    </div>
  </div>
</body>

<script>
var pickerWidth = 400
var borderWidth = 4
var borderColor = "#FFFFFF"

var pickerOne = new iro.ColorPicker("#picker-one", {
  width: pickerWidth,
  borderWidth: borderWidth,
  borderColor: borderColor,
  layout: [
    { 
      component: iro.ui.Wheel
    },
    { 
      component: iro.ui.Slider
    },
  ]
});
pickerOne.color.hsl = { h: 100, s: 0, l: 100 };
pickerOne.on('color:change', function(color) {
  document.getElementById("preview-1").style.background = color.hexString
  document.getElementById("button-one").disabled = false
  pickerTwo.setColors([pickerOne.color])
});

var pickerTwo = new iro.ColorPicker("#picker-two", {
  width: pickerWidth,
  borderWidth: borderWidth,
  borderColor: borderColor,
  layout: [
    { 
      component: iro.ui.Wheel
    }
  ]
});
pickerTwo.color.hsl = { h: 100, s: 0, l: 100 };
pickerTwo.on('color:change', function(color) {
  document.getElementById("preview-2").style.background = color.hexString
  document.getElementById("button-two").disabled = false
  pickerThree.setColors([pickerTwo.color])
});

var pickerThree = new iro.ColorPicker("#picker-three", {
  width: pickerWidth,
  borderWidth: borderWidth,
  borderColor: borderColor,
  layout: [
    { 
      component: iro.ui.Wheel
    }
  ]
});
pickerThree.color.hsl = { h: 100, s: 0, l: 100 };
pickerThree.on('color:change', function(color) {
  document.getElementById("preview-3").style.background = color.hexString
  document.getElementById("button-three").disabled = false
  pickerFour.setColors([pickerThree.color])
});

var pickerFour = new iro.ColorPicker("#picker-four", {
  width: pickerWidth,
  borderWidth: borderWidth,
  borderColor: borderColor,
  layout: [
    { 
      component: iro.ui.Wheel
    }
  ]
});
pickerFour.color.hsl = { h: 100, s: 0, l: 100 };
pickerFour.on('color:change', function(color) {
  document.getElementById("preview-4").style.background = color.hexString
  document.getElementById("button-four").disabled = false
});

function setFinishScreen() {
  document.getElementById('picker-four-wrapper').classList.add('hidden');document.getElementById('finish-wrapper').classList.remove('hidden');

  const colors = [pickerOne.color.hexString, pickerTwo.color.hexString, pickerThree.color.hexString, pickerFour.color.hexString];
  fetch('/generate', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ colors: colors })
  })
  .then(response => response.json())
  .then(data => {
      if (data.status) {
          console.log(data.status);
      } else {
          console.error('Error generating image');
      }
  });
}

function restart() {
  document.getElementById("preview-1").style.removeProperty('background');
  document.getElementById("preview-2").style.removeProperty('background');
  document.getElementById("preview-3").style.removeProperty('background');
  document.getElementById("preview-4").style.removeProperty('background');

  document.getElementById('finish-wrapper').classList.add('hidden');
  document.getElementById('start-wrapper').classList.remove('hidden');
}
</script>

</html>
